@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(60deg, #b33c3c, #530505);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}
img.viewer-move {
  border-radius: 10px;
}
body {
    background-color: #060606;
    display: flex;
     justify-content: center;
     align-items: center;
    flex-direction: column;
}
button {
  margin: 10px;
  color: #fff;
  border: 0;
  padding: 10px 17px;
  font-size: 18px;
  border-radius: 50px;
  transition: ease-in-out .2s;
  cursor: pointer;
}
button:hover{
  background-color: #3e4569;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.intro img {
  position: absolute;
  width: 60px;
  height: auto;
  margin: 50px 20px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
.navbar {
    top: 0;
    margin: 10px;
    border-radius: 25px;
      z-index: 2;
      position: fixed;
      display: flex;
      align-items: center;
      max-width: 670px;
      height: 60px;
      justify-content: space-between;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: #23232395;
      border: 1px solid #414141;
  }

  
  .navbar .brand {
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
  .navbar .brandname{
    display: flex;
    margin-right: 30px;
    font-size: 20px;
     font-weight: 500;
     color: #fff;
 } 
  .navbar img {
    filter: brightness(95%);
      height: 25px;
      width: auto;
      margin-right: 12px;
  }

.home h1{
  font-weight: 600;
  font-size: 50px;
    background-color: #c33d4b;
  background-image: linear-gradient(60deg, #d40c20, #7c0a0a);
  background-clip: text;
  color: transparent;
  transition: ease-in-out .2s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.custom-text {
  font-family: 'Arial', sans-serif;
  color: white;
}

.home h5{
    margin: 10px;
    color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  max-width: 600px;
}
.navbar .right{
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.right .navelem {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: 17px;
  color: #fff;
  margin: 10px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.ds {
  background-color: #596388;
  border: 1px solid #3e4664;
  
}
.dl {
  background-image: linear-gradient(60deg, #b33c3c, #9a2222);
  border: 1px solid #560a0a;
}
.navelem.dl {
  padding: 5px 10px;
  border-radius: 50px;
  width: 130px;
}
.shapes{
  position: fixed;
  right: 40%;
  top: 30%;
  transform: rotate(-45deg);
  display: flex;
  align-items: end;
  gap: 5rem;
  z-index: -10;
}
.shape{
  mix-blend-mode: multiply;
  filter: blur(70px);
  
}

.shapes .shape.color2{
  height: 23rem;
  width: 100px;
  background-color: #ad1f1f;
  animation-duration: 10s;
  animation-name: smoothopacity;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  z-index: -10;
}

.shapes .shape.color1{
  animation-duration: 15s;
  animation-name: smoothopacity;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  background-color: #670808;
  height: 17rem;
  width: 80px;
  z-index: -10;
}
@keyframes smoothopacity {
  from {
      opacity: 0;
  }
  50%{
    opacity: 1;
    
  }
  to {
    opacity: 0;
}
}
.intro.loaded {
  transition: all 0.2s ease-in-out;
    animation-name: fadeout;
    animation-duration: 1s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 127px;
  height: 127px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
h3{
  font-size: 30px;
  margin: 20px;
  font-weight: 500;
  color: #fff;
}
.cards {
    display: flex;
    position: relative;
    width: 85%;
    height: 500px;
    overflow: hidden;
    margin-top: 50px;
    justify-content: center;
    
}



.cards .card {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  max-width: 550px;
  margin: 10px;
  height: 400px;
  background-color: #23232395;
  border: 1px solid #414141;
}
.imgcontainer {
  margin: 20px;
  border-radius: 22px;
  overflow: hidden;
  width: calc(100% - 40px);
  height: 300px;
}
.imgcontainer img {
  cursor: pointer;
  height: 100%;
  width: auto;
}
.imgcontainer.center {
  display: flex;
  justify-content: center;
}
.cardtext {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin: 5px 20px;
}
footer {
  bottom: 0;
  display: flex;
  width: 100%;
  min-height: 60px;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: static;
  margin-bottom: 0;
  bottom: 0;
}
footer p {
  text-align: center;
 font-weight: 300;
 margin: 20px;
 color: #fff;
}
a {
  color: white;
}
#next i, #prev i{
  margin: 40%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

#next, #prev{
  width: 25%;
  border: 0;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 10px;
  display: flex;
  justify-content: center;
}
#next{
    left: unset;
    right: 10px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 10px;
}

.socials i {
  cursor: pointer;
  color:  #fff;
  font-size: 30px;
  margin: 10px;
  transition: ease-in-out .5s;
}

.socials i:hover{
  color:  #bbbbbb;
}

iframe {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  margin: 20px;
}

.accordion-container {
  width: 80%;
  max-width: 600px;
}

.accordion-item {
  background-color: transparent;  /* White background for items */
  border-radius: 8px;
  margin-bottom: 10px;
}

.shapes{
  position: fixed;
  right: 40%;
  top: 30%;
  transform: rotate(-45deg);
  display: flex;
  align-items: end;
  gap: 5rem;
  z-index: -10;
}
.shape{
  mix-blend-mode: multiply;
  filter: blur(70px);
}

.shapes .shape.color2{
  height: 23rem;
  width: 100px;
  background-color: #9c6565;
  animation-duration: 10s;
  animation-name: smoothopacity;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  z-index: -10;
}

.shapes .shape.color1{
  animation-duration: 15s;
  animation-name: smoothopacity;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  background-color: #b33c3c;
  height: 17rem;
  width: 80px;
  z-index: -10;
}
@keyframes smoothopacity {
  from {
      opacity: 0;
  }
  50%{
    opacity: 1;
    
  }
  to {
    opacity: 0;
}
}
.intro.loaded {
  transition: all 0.2s ease-in-out;
    animation-name: fadeout;
    animation-duration: 1s;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lds-dual-ring {
  display: inline-block;
  width: 127px;
  height: 127px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.accordion-header {
  background-color: transparent; 
  color: #FFFFFF; /* White text */
  padding: 15px;
  font-size: 18px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: transparent; 
}

.module-title i {
  margin-left: 8px; /* Space between icon and text */
  color: #ffffff; /* Set the color for all icons */
}

.accordion-content {
  background-color: transparent; 
  overflow: hidden;
  padding: 0 15px;
  max-height: 0;
  transition: max-height 0.3s ease;
}
.video {
  font-family: 'Arial', sans-serif;
  color: white;
}

.accordion-content p {
  color: #9e9e9e;
  margin: 15px 0;
  line-height: 1.5;
}

.icon {
  transition: transform 0.3s ease;
}

.active .icon {
  transform: rotate(45deg);
}

/* didi code 


/* Main container styling */
.module-overview {
  color: white;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.module-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff33;
  padding-bottom: 5px;
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
}

.module-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.module-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari and Edge */
}

.module-section {
  min-width: 190px;
  flex: 0 0 auto; /* Prevents shrinking */
}

.module-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.module-list li {
  background-color: rgba(27, 29, 39, 0.5); /* rgba format for background color with 50% opacity */
  color: #4c556e; /* Text color */
  padding: 8px 10px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 5px;
  transition: background-color 0.2s ease-in-out;
}


.module-list li:hover {
  background-color: rgba(27, 29, 39, 0.5); /* You can keep the hover effect or change it */
  color: white; /* Text color changes to white on hover */
}

.module-list li:hover::after {
  content: attr(data-description);
  position: absolute;
  left: 100%;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.module-list li:hover::after {
  opacity: 1;
}

.small-text {
  font-size: 12px;  /* Adjust as necessary */
  color: #999999;   /* Light gray color */
  margin-top: -10px; /* Pulls the text closer to the title */
  margin-bottom: 20px; /* Adds space before the content starts */
}

.hover-text {
    position: absolute;
    left: 0%;
    top: 10;
    background-color: darkslategray;
    padding: 5px;
    border: 1px solid gray;
}


